@import '../../../Styling/common.scss';

.cvContainer {

    @include ContentContainer;

    flex-direction: row;

    background-color: $bgDark;

    p {
        margin: 0;
        padding: 0;
    }

    .cvLinkContainer{
        @include PageLinkContainer;

        .CvLink {
            @include PageLink
        }
    }

    .cvContentContaier {

        @include PageInfoContent;
        
        .cvItemContainer {
            width: 400px;
            padding: 10px;
            transition: 0.2s;
            
            &:hover{
                color:rgba(255, 255, 0, 0.8);
            }
        
            .cvHeader {
                font-size: 20px;
                font-weight: 800;
            }

            .cvDateSpan {
                font-size: 14px;
                font-style: italic;
            }

            .cvComment {
                margin: 5px 0;
                font-size: 12px;
                font-style: italic;
            }
        }
    }

}