@import '../../../Styling/themes.scss';

.cvContainer {

    display: flex;
    flex-direction: row;

    position: absolute;

    width: 800px;
    height: 700px;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);

    background-color: $bgDark;
    border: $bgDark 2px solid;
    border-radius: 20px;
    box-shadow: black 1px 1px 1px;

    p {
        margin: 0;
        padding: 0;
    }

    .cvLinkContainer{
        width: 200px;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .CvLink {
            text-align: right;
            padding: 10px;
            cursor: pointer;
            color: $linkColor;
            transition: 0.2s;

            &:hover {
                background-color: $fgDark;
                color: $linkHover;
            }
        }
    }

    .cvContentContaier {
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        cursor: default;
        
        .cvItemContainer {
            width: 400px;
            padding: 10px;
            transition: 0.2s;
            
            &:hover{
                color:rgba(255, 255, 0, 0.8);
            }
        
            .cvHeader {
                font-size: 20px;
                font-weight: 800;
            }

            .cvDateSpan {
                font-size: 14px;
                font-style: italic;
            }

            .cvComment {
                margin: 5px 0;
                font-size: 12px;
                font-style: italic;
            }
        }
    }

}