@import '../../Styling/common.scss';

.homepageContentContainer {
    height: calc(100vh - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    transform: 50px;
}

.noContentContaier {

    @include ContentContainer;

    flex-direction: row;

    opacity: 0.6;

    .noContentText {
        color: $bgDark;
        text-shadow: yellow 0 0 2px;
        font-size: 32px;
        font-weight: 900;
        cursor: default;
    }
}

.noContentContanerLight {
    display: flex;
    align-items: center;

    height: 100%;
    width: 550px;

    .noContentTextLight{
        color: $fgDark;
        text-shadow: yellow 0 0 2px;
        font-weight: 900;
        font-size: 20px;

        padding: 20px;
        margin-left: 100px;

        border: rgba(255, 255, 0, 0.5) 1px dotted;
        border-radius: 20px;
    }
}


.pageContentLink {
    @include PageLink
}