@import '../../../Styling/common.scss';

.appInfoContainer {
    @include ContentContainer;
    
    background-color: $bgDark;

    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    overflow-y: scroll;
    overflow-x: hidden;
    
    &::-webkit-scrollbar{
        display: none;
    }

    h4 {
        margin-top: 30px;;
        margin-left: 50px;
        margin-bottom: 15px;
        width: 500px;
    }

    p {
        margin-left: 50px;
        width: 500px;
    }
}