.buttonContaier {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

// Content container for page content
@mixin ContentContainer {

    display: flex;
    justify-content: center;
    align-items: center;

    width: 800px;
    height: 700px;

    border: $bgDark 2px solid;
    border-radius: 20px;
    box-shadow: black 1px 1px 1px;
}

// Pagelinks for innholds container
@mixin PageLinkContainer {
    width: 250px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

// link style for pagelings
@mixin PageLink {
    text-align: right;
    padding: 10px;
    cursor: pointer;
    color: $linkColor;
    transition: 0.2s;

    &:hover {
        background-color: $fgDark;
        color: $linkHover;
    }
}

// innhold for container med lokal navigasjon
@mixin PageInfoContent {
    width: 550px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    cursor: default;
}

.custLabel {
    font-weight: 600;
}

.pageHeader {
    padding-bottom: 5px;
    margin-bottom: 10px;
    margin-left: 30px;
    border-bottom: rgba(230, 200, 0, 0.8) 1px dotted;
    width: 450px;
}

.pageParagraph {
    font-size: 14px;
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 5px;
    width: 450px;
}

.pageInfoParagraph {
    margin-left: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
    width: 450px;
    font-size: 14px;
    font-style: italic;

    a {
        color: rgba(255, 255, 0, 0.8);
        transition: 0.2s;
        font-weight: 600;
        
        &:hover {
            color: rgba(255, 255, 0, 1);
            text-decoration: none;
        }
    }
}

/* Mørkeste farge */
$bgDark: #121212;

/* Mørk Bakgrunn*/
$fgDark: #272727;

/* Tekstfarge */
$txtColor:  rgba(230, 200, 0, 0.8);

/* Link farge */
$linkColor: rgba(230, 200, 0, 0.6);

/* link hover color*/
$linkHover: rgba(230, 200, 0, 0.9)