@import "./themes.scss";

body {
    background-color: $fgDark;
    color: $txtColor;
    text-shadow: black 1px 1px 1px;
    height: 100vh;
    width: 100vw;
    font-family: "Lucida Console", Courier, monospace;
}