/* Mørkeste farge */
$bgDark: #121212;

/* Mørk Bakgrunn*/
$fgDark: #272727;

/* Tekstfarge */
$txtColor:  rgba(230, 200, 0, 0.8);

/* Link farge */
$linkColor: rgba(230, 200, 0, 0.6);

/* link hover color*/
$linkHover: rgba(230, 200, 0, 0.9)