/* Mørkeste farge */
$bgDark: #121212;

/* Mørk Bakgrunn*/
$fgDark: #272727;

/* Tekstfarge */
$txtColor:  rgba(230, 200, 0, 0.8);

/* Link farge */
$linkColor:#A9A9A9;

/* link hover color*/
$linkHover: #D3D3D3